/* #region header */
.header {
  box-sizing: border-box;
  background-image: url(../images/header-bg-mobile.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__cover {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
}

.header__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  color: #fff;
  letter-spacing: -1.5px;
  margin: 0;
  transform: translateY(-100%);
}

/* #endregion */
