/* #region page */
.page {
  font-family: Cinzel, serif;
  font-size: 16px;
  line-height: 1.7em;
  color: #161616;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  padding: 0 20px;
}

.page__description {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s linear;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s linear;
}

.page__section {
  margin-top: 100px;
}

.page__section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1em;
  letter-spacing: -1.5px;
  margin: 0;
}

.page__section-title--center {
  text-align: center;
}

/* #endregion */
